<script id="frontend_toolbar" type="text/template">
  <div id="toolbar">
    <a class="editing-mode">Edition Mode</a>
    <a class="save">Save</a>
    <a class="cancel">Cancel</a>
  </div>
</script>
<%= t('.welcome_message', name: 'Joe') %>
